:root {
  --color-white: #fff;
  --color-gray: #C5C5C5;
  --color-black: #000;

  --color-divider: #C5C5C5;
  --color-blue: #1890FF;
  --color-red: #f51b2a;

  --color-background-light: #F2F4F8;
  --color-background-dark: #110E3B; 
  --color-background-whiteModal: #fff;
  --color-background-greyModal: rgba(0, 0, 0, 0.4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.page {
  height: 100vh;
  display: grid;
  grid-template-columns: 70% 30%;
}
